.sign-up-baseball-2 {
  align-items: flex-start;
  background-color: var(--thunder);
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1728px;
}

.overlap-group2 {
  height: 1104px;
  margin-left: -16px;
  position: relative;
  width: 1783px;
}

.overlap-group {
  height: 1104px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1783px;
}

.rectangle-42 {
  background-color: var(--woodsmoke);
  border-radius: 0px 21px 0px 21px;
  box-shadow: 0px 26px 14px -13px #00000063;
  height: 66px;
  left: 0;
  position: absolute;
  top: 974px;
  width: 1783px;
}

.registration {
  left: 636px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 985px;
  width: 487px;
}

.rectangle-43 {
  background-color: var(--inchworm);
  height: 12px;
  left: 1058px;
  position: absolute;
  top: 1002px;
  width: 686px;
}

.rectangle-44 {
  background-color: var(--inchworm);
  height: 12px;
  left: 16px;
  position: absolute;
  top: 1001px;
  width: 686px;
}

.rectangle-23 {
  background-color: var(--woodsmoke);
  height: 64px;
  left: 16px;
  position: absolute;
  top: 1040px;
  width: 1728px;
}

.x2023-olympic-indoo {
  left: 643px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1043px;
}

.rectangle-33 {
  background-color: var(--woodsmoke);
  height: 78px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 1729px;
}

.rectangle-5 {
  background-color: var(--inchworm-2);
  height: 52px;
  left: 16px;
  position: absolute;
  top: 72px;
  width: 1728px;
}

.screenshot-2023-01-23-at-832-1 {
  background-color: transparent;
  height: 65px;
  left: 30px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 507px;
}

.place {
  left: 355px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
}

.the-facility {
  left: 503px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
}

.memberships {
  left: 693px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
}

.batting-cages {
  left: 896px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
}

.programs-events {
  left: 1103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
}

.contact-us {
  left: 1348px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
}

.rectangle-6 {
  background-color: var(--black);
  height: 4px;
  left: 679px;
  position: absolute;
  top: 120px;
  width: 116px;
}

.ois {
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.eazy {
  left: 1650px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
}

.base-1 {
  margin: 100px;
  height: 90%;
  width: 50%;
  padding-right: 400px;
  z-index: 100;
}

#img-softball {
  height: 100%;
  width: 160%;
  position: relative;
}

.rectangle-61 {
  background-color: #373737;
  height: 361px;
  left: 840px;
  position: absolute;
  top: 390px;
  width: 810px;
}

.crop-your-photo-to-f {
  left: 893px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 327px;
}

.rectangle-62 {
  background-color: var(--inchworm);
  height: 65px;
  left: 1396px;
  position: absolute;
  top: 829px;
  width: 254px;
}

.lets-go {
  left: 1396px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 843px;
  width: 254px;
}

.ellipse-2 {
  border: 10px solid;
  border-color: var(--white);
  border-radius: 173.5px;
  height: 347px;
  left: 1067px;
  position: absolute;
  top: 397px;
  width: 347px;
}

.pexels-pixabay-163209-1 {
  height: 783px;
  left: 903px;
  object-fit: cover;
  position: absolute;
  top: 321px;
  width: 570px;
}

.title {
  left: 840px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 178px;
}

.lets-create-your-custom-players-card {
  left: 840px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 253px;
}

.overlap-group1 {
  height: 44px;
  left: 839px;
  position: absolute;
  top: 321px;
  width: 40px;
}

.ellipse-1 {
  background-color: var(--inchworm);
  border-radius: 20px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 40px;
}

.number {
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.viewer {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output {
  position: relative;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
}

.output img {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
}

label {
  color: transparent;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 365px;
  z-index: 1000;
  height: 65px;
  width: 811px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inter-normal-mercury-30px {
  color: var(--mercury);
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.rectangle-63 {
  background-color: #8e8e8e;
  height: 65px;
  left: 840px;
  position: absolute;
  top: 755px;
  width: 811px;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  width: 200px;
  height: 200px;
  color: #b8b8b8;
}

.iconsax-linearusersquare {
  height: 30px;
  left: 1608px;
  position: absolute;
  top: 20px;
  width: 30px;
  z-index: 999;
}
